@import '../../../../styles/custom/variables';
@import '../../../../styles/custom/mixins';

.custom-modal {

  .form-holder {
    max-width: 460px;
    margin: 0 auto;
    text-align: left;

    @media (min-width: 540px) {
      width: 60%;
    }
    @media (min-width: $point) {
      width: 100%;
    }

    .form-group-content {
      position: relative;

      span {
        @media (min-width: 540px) {
          position: absolute;
          right: calc(100% + 10px);
          top: 50%;
          transform: translateY(-50%);
          justify-content: flex-end;
        }
      }
    }

    .btn.btn-md {
      @media (min-width: $point) {
        margin: 50px auto 0;
      }
      @media (max-height: 750px) {
        margin: 20px auto 0;
      }
    }
  }
}